header {
    position: absolute;
    width: 1400px;
    height: 250px;
    left: 0px;
    top: 0px;
}
h1 {
    position: absolute;
    width: 409px;
    height: 38px;
    left: 496px;
    top: 100px;

    font-family: "Raleway";
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;

    color: #212121;
}
.line {
    position: absolute;
    width: 64px;
    height: 2px;
    left: 668px;
    top: 163px;

    border: 1px solid #E72424;
}
.head {
    position: absolute;
    width: 363px;
    height: 19px;
    left: 519px;
    top: 195px;

    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;

    color: #86878B;
}
main {
    position: absolute;
    width: 1400px;
    height: 345px;
    left: 0px;
    top: 250px;    
}
.lamp {
    position: absolute;
    width: 350px;
    height: 225px;
    left: 143px;
    top: 31px;
}
.keyboard {
    position: absolute;
    width: 350px;
    height: 225px;
    left: 525px;
    top: 31px;
}
.lightning {
    position: absolute;
    width: 350px;
    height: 225px;
    left: 907px;
    top: 31px;
}
.circle {
    position: absolute; 
    width: 70px;
    height: 70px;
    left: 140px;
    top: 0px;
    border-radius: 50%;

    border: 1px solid #E72424;
    box-sizing: border-box;

}
.lam {
    position: absolute;     
    width: 23px;
    height: 30px;
    left: 23px;
    top: 20px;
}
.circlee {
    position: absolute;  
    width: 70px;
    height: 70px;
    left: 140px;
    top: 0px;
    border-radius: 50%;

    border: 1px solid #E72424;
    box-sizing: border-box;
} 
.keyboardd {
    position: absolute;  
    width: 37px;
    height: 26px;
    left: 16px;
    top: 22px;
}
.circleee {
    position: absolute; 
    width: 70px;
    height: 70px;
    left: 140px;
    top: 0px;
    border-radius: 50%;

    border: 1px solid #E72424;
    box-sizing: border-box;
}

.lightnin {
    position: absolute; 
    width: 21px;
    height: 33px;
    left: 23px;
    top: 19px;
}

.main {
    position: absolute;
    width: 189px;
    height: 29px;
    left: 81px;
    top: 100px;

    font-family: "Open Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;

    color: #333333;
}
.main_centrum {
    position: absolute;
    width: 189px;
    height: 29px;
    left: 81px;
    top: 100px;
    
    font-family: "Open Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    
    color: #333333;  
}
.mainp {
    position: absolute;
    width: 350px;
    height: 60px;
    left: 0px;
    top: 145px;

    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-align: center;

    color: #000000;
}


